@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 1rem 0.5rem #F3B4C0;
}

.logo img{
  width: 100px;
  margin-left: 16px;
}

.btn-menu {
  font-size: 26px;
  margin-left: auto;
  margin-right: 10px;
  border: none;
  text-align: center;
  background-color: transparent;
  color: #F3B4C0;
}

.menu {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0.9);
}

.fa fa-barsfa-lg{
  color: white;
}


.btn-close{
  font-size: 3em;
  display: flex;
  margin-left: auto;
}


.menu ul{
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  gap: 20px;
}
.menu li a{
  text-decoration: none;
  color: gray;
}

.menu li{
  color: white;
  font-size: 2em;
  padding: 3% 3%;
  cursor: pointer;
}

.menu li a:hover{
  color: #F3B4C0;
}

/*MAINNN*/

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text h2{
  color: #F3B4C0;
  padding-top: 30px;
}

.main-text h1{
  font-size: 59px;
  text-align: center;
}

.main-text p{
  color: gray;
  font-weight: 500px;
}

.main-text button{
  cursor: pointer;
  border: none;
  background-color: #F3B4C0;
  border-radius: 10px;
  color: white;
  font-weight: 500px;
  width: 150px;
}

.main-text button:hover{
  background-color: red;
  color: white;
}

.imagem-main{
  width: 400px; padding-top: 10px;
}

.rodape{
  width: 100%;
  padding: 3% 4%;
  text-align: center;
  background-color: #F3B4C0;
}

.social-icons a{
  font-size: 1.5em;
  color: white ;
  opacity: 0.5;
  margin-right: 3%;
}

.social-icons a:hover{
  opacity: 100%;
}

.copyright{
  font-weight: 300px;
  margin-top: 2%;
  color: #ffffff;
}

/*BOLOSSS*/

.text-main2{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container-cards{
  border: none;
}

.cardss{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 100px;
  text-align: center;
}


.conteudo{
  border-radius: 10px;
  box-shadow: 0 0 1rem 0.5rem #F3B4C0;
}
.cardss img{
  border-radius: 10px;
  width: 200px;
}

.cardss h2{
  font-size: 20px;
  margin-top: 10px;
}

.cardss p{
  font-size: 14px;
  margin-left: 23px;
  text-align: center;
  width: 153px;
}

.cardss button a{
  color: black;
  background-color: #F3B4C0;
  text-decoration: none;
  border-radius: 5px;
}

.cardss button a:hover{
  color: red;
}

.cardss button{
  border: none;
  border-radius: 100%;
}

.cards3{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 30px;
}
.cards3 img{
  border-radius: 10px;
  width: 200px;
}

.cards3 h2{
  font-size: 20px;
  margin-top: 10px;
}

.cards3 p{
  font-size: 14px;
  margin-left: 23px;
  text-align: center;
  width: 153px;
}

.cards3 button a{
  color: black;
  background-color: #F3B4C0;
  text-decoration: none;
  border-radius: 5px;
}

.cards3 button a:hover{
  color: red;
}

.cards3 button{
  border: none;
  border-radius: 100%;
}
/*MEDIA QUERIES*/



@media screen and (min-width: 800px) {
  .btn-menu{
    display: none;
  }
  .btn-close{
    display: none;
  }
 
  .menu {
    display: flex;
    position: static;
    background-color: transparent;
    padding-top: 16px;
    font-size: 10px;
    justify-content: right;
    height: auto;
}
  .menu ul {
    flex-direction: row;
    margin-right: 23px;
  }
  .menu li{
    color: gray;
  }
  .logo{
    margin-left: 16px;
    width: 100%;
  }
  
  
}


@media screen and (min-width: 900px) {
  .btn-menu{
    display: none;
  }
  .btn-close{
    display: none;
  }
  .cardss{
    flex-wrap: wrap;
  }
  .cards3{
    flex-wrap: wrap;
  }
  .logo{
    margin-left: 36px;
    width: 100%;
  }
 
  .container{
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-direction: row;
  }

  .main-text{
    margin-top: 50px;
  }

  .main-text h2{
    display: flex;
    margin-right: auto;
  }

  .main-text h1{
    text-align: justify;
    margin-right: auto;
  }

  .main-text p {
    width: 500px;
  }

  .main-text button{
    margin-right: auto;
    margin-bottom: 100px;
    height: 40px;
  }

  .imagem-main{
    width: 550px;
  }

  .rodape{
    text-align: center;
    background-color: #F3B4C0;
  }
}

@media screen and (max-width: 900px){
  .cardss{
    display: flex;
    flex-wrap: wrap;
  }
  .cards3{
    flex-wrap: wrap;
  }
  
}




